@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://img.thedailybeast.com/image/upload/c_crop,d_placeholder_euli9k,h_1688,w_3000,x_0,y_0/dpr_2.0/c_limit,w_740/fl_lossy,q_auto/v1721242086/240717-trump-ear-jokes-hero_du0thc') no-repeat center center fixed;
    background-size: cover;
}

.content {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

h1 {
    font-size: 3em;
    cursor: pointer;
}

iframe {
    width: 90%;
    height: 500px;
    margin: 20px 0;
}

.social-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-size: cover;
    border-radius: 50%;
}

.dex-button {
    background-image: url('https://play-lh.googleusercontent.com/oZa1eCSB6-6c9dzTOQDtovSLgDyg_WY-GZSqab2TALM5Dysbx7jXlvkBofCCzoNKmxN1');
}

.twitter-button, .telegram-button {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.twitter-button i, .telegram-button i {
    font-size: 2em;
    color: white;
}


footer {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.5);
}

footer p {
    margin: 0;
    color: white;
    font-size: 0.8em;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
